{% extends 'base.html' %}
{% load static %}
{% load news_guru_filter %}
{% block content %}
<title>AI Newscapes : Intro</title>
<div class="container mt-5 mb-5">
    <h1 class="text-center mb-4">AI Newscapes: 뉴스 이해력 강화를 위한 지식 어시스턴트</h1>
    <div class="text-justify">
        <p>AI Newscape는 전국민을 대상으로 발생하는 뉴스 회피 현상을 극복하고자, 생성형 AI를 활용해 사용자의 뉴스 이해를 도와주는 뉴스 지식 어시스턴트 서비스입니다.</p>
    </div>
    <div class="mt-4">
        <h2 class="mb-3">뉴스 이해력을 강화할 수 있는 AI Newscapes의 주요 기능:</h2>
        <ul>
            <li><strong>기사의 카드뉴스 제공:</strong> 생성형 AI가 카드뉴스를 쉽고 빠르게 생성해 정부, 기관, 언론사 등의 카드뉴스 제작 시간 절약에 기여, 사용자들이 복잡한 주제의 뉴스를 시각적이고 직관적으로 소비하여 더 넓은 대중들이 효과적으로 정보를 습득하고 공유해 정보 접근성 향상에 기여 </li>
            <li><strong>기사의 배경지식 제공:</strong> 생성형 AI가 배경지식을 쉽고 빠르게 생성해 사용자들이 바쁜 현대 사회 속에 사건의 흐름을 놓쳤어도 즉각적으로 맥락을 파악하도록 기여, 복잡하거나 배경 정보가 필요한 주제에 대한 깊이 있는 이해 가능</li>
            <li><strong>키워드 설명 제공:</strong> 생성형 AI가 신조어, 어려운 외국어, 전문 용어 등을 식별하고 키워드에 대해 기사 맥락을 고려한 설명을 생성해 사용자에게 제공하여 어휘력 향상에 기여 </li>
        </ul>
    </div>
    <div class="mt-4">
        <h2 class="mb-3">왜 AI Newscapes인가?</h2>
        <p>AI Newscapes를 통해 사용자들이 어려운 내용의 뉴스를 더욱 쉽고 빠르게 이해하고, 이룰 통해 정보의 격차를 해소하도록 기여합니다. 다양한 뉴스와 정보의 '풍경' 속에서 서비스를 통해 제공되는 풍부한 내용을 탐험해보세요.</p>
    </div>
    <div class="text-center mt-5">
        <p>AI Newscapes와 함께 뉴스 읽기의 새로운 지평을 열어가세요.</p>
        <p>이메일 : kms1003go@khu.ac.kr</p>
    </div>
</div>
{% endblock %}