{% extends 'base.html' %}
{% load static %}
{% load news_guru_filter %}
{% block content %}
<div class="container mt-5 mb-2 mr-2">
    <h1>Welcome to AI Newscape</h1>
    <p>AI Newscape is your go-to service for curated news content powered by advanced AI algorithms. Discover personalized news that matters to you, stay updated with the latest trends, and dive deep into topics of your interest.</p>
    <p>Explore a world of information at your fingertips, where news is tailored to fit your unique preferences and interests. Join us on a journey through the ever-evolving landscape of news, enhanced by the power of artificial intelligence.</p>
</div>

<div id="vue-app">
    <p>Message: [[ message ]]</p>
</div>

<script>
new Vue({
    el: '#vue-app',
    delimiters: ['[[', ']]'], // Vue의 템플릿 구분자를 변경합니다.
    data: {
        message: 'Hello Vue!'
    }
});
</script>


{% endblock %}