{% extends 'base.html' %}
{% load static %}
{% load news_guru_filter %}
{% block content %}
<div class="container my-3">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class='card-title mb-4 mr-4'>뉴스 필터링</h5>
            <form method="get" action="{% url 'news_guru:index' %}" class="form-inline mb-2 mr-2">
                <div class="form-group mb-2 mr-2">
                    <label for="kw" class="sr-only mb-1">키워드</label>
                    <input type="text" id="search_kw" name="kw" class="form-control mb-1" value="{{ kw|default_if_none:'' }}">
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <!-- Start Date -->
                        <div class="form-group mb-2 mr-2">
                            <label for="start_date" class="sr-only mb-1">시작 날짜</label>
                            <input type="date" id="start_date" name="start_date" class="form-control" placeholder="Keyword" value="{{ start_date|default_if_none:'' }}">
                            <label for="start_date" class="sr-only">{{ earliest_date|date:"Y-m-d" }}부터 기사를 제공하고 있습니다.</label>                
                        </div>
                    </div>
                        <!-- End Date -->
                    <div class="col-md-6">
                        <div class="form-group mb-2 mr-2">
                            <label for="end_date" class="sr-only mb-1">종료 날짜</label>
                            <input type="date" id="end_date" name="end_date" class="form-control" placeholder="Keyword" value="{{ end_date|default_if_none:'' }}">
                            <label for="end_date" class="sr-only">{{ latest_date|date:"Y-m-d" }}까지 기사를 제공하고 있습니다.</label>                                
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <!-- Categories -->
                    <div class="col-md-6">
                        <div class="mb-1">
                            <label class="form-label">카테고리</label>
                            <div class="d-flex flex-wrap justify-content-start">
                                {% for cat in category_list %}
                                <div class="p-1">
                                    <input type="checkbox" id="category_{{ forloop.counter }}" name="category" value="{{ cat.category }}"
                                    class="btn-check" autocomplete="on"
                                    {% if cat.category in categories %} checked {% endif %}> <!-- 수정된 부분 -->
                                    <label class="btn btn-outline-primary" for="category_{{ forloop.counter }}">{{ cat.category }}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <!-- Presses -->
                    <div class="col-md-6">
                        <div class="mb-1">
                            <label class="form-label">언론사</label>
                            <div class="d-flex flex-wrap justify-content-start">
                                {% for press_code, press_name in press_list %}
                                <div class="p-1">
                                    <input type="checkbox" id="press_{{ forloop.counter }}" name="press" value="{{ press_code }}"
                                    class="btn-check" autocomplete="on"
                                    {% if press_code|stringformat:"s" in presses %} checked {% endif %}>
                                    <label class="btn btn-outline-primary" for="press_{{ forloop.counter }}">{{ press_name }}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                </div>
                    <div class="text-center mt-2">
                        <button type="submit" class="btn btn-primary">찾기</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 d-flex justify-content-center">
                <p>Total articles: {{ news_list.paginator.count }}개</p>
            </div>
            <div class="col-4 d-flex justify-content-end mb-4">
                <button id="toggleOrder" class="btn btn-outline-success" data-order="latest">최신순 ↓</button>
            </div>

            {% for news in news_list %}
            <div class="col-md-6 mb-4">
                <a href="{% url 'news_guru:detail' news.id %}" style="text-decoration: none; color: inherit;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4"> <!-- 이미지 영역을 더 크게 조정합니다. -->
                                {% if news.thumbnail_url %}
                                    <img src="{{ news.thumbnail_url }}" class="img-fluid rounded-start p-2" alt="Card Image" style="width: 100%; height: auto;">
                                {% else %}
                                    <img src="{% static 'card_news.jpg' %}" class="img-fluid rounded-start p-2" alt="Card Image" style="width: 100%; height: auto;">
                                {% endif %}
                            </div>
                            <div class="col-md-8"> <!-- 텍스트 영역의 크기를 조정합니다. -->
                                <div class="card-body p-3">
                                    <h5 class="card-title mb-3 news-title">{{ news.title }}</h5>
                                    <p class="card-text news-content" style="color: #595959;">
                                        {{ news.content }} <!-- 본문의 내용을 더 많이 보여주기 위해 truncatechars 값을 조정합니다. -->
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted">{{ news.publish_date|date:"Y-m-d" }} | {{ news.press|get_media_name }} | {{ news.category }}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}        
        </div>
    </div>
</div>


<div>

    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if news_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ news_list.previous_page_number }}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}{% if categories %}{% for category in categories %}&category={{ category }}{% endfor %}{% endif %}{% if presses %}{% for press in presses %}&press={{ press }}{% endfor %}{% endif %}{% if kw %}&kw={{ kw }}{% endif %}{% if order_by %}&order_by={{ order_by }}{% endif %}">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in news_list.paginator.page_range %}
        {% if page_number >= news_list.number|add:-5 and page_number <= news_list.number|add:5 %}
            {% if page_number == news_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}{% if categories %}{% for category in categories %}&category={{ category }}{% endfor %}{% endif %}{% if presses %}{% for press in presses %}&press={{ press }}{% endfor %}{% endif %}{% if kw %}&kw={{ kw }}{% endif %}{% if order_by %}&order_by={{ order_by }}{% endif %}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}{% if categories %}{% for category in categories %}&category={{ category }}{% endfor %}{% endif %}{% if presses %}{% for press in presses %}&press={{ press }}{% endfor %}{% endif %}{% if kw %}&kw={{ kw }}{% endif %}{% if order_by %}&order_by={{ order_by }}{% endif %}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if news_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ news_list.next_page_number }}{% if start_date %}&start_date={{ start_date }}{% endif %}{% if end_date %}&end_date={{ end_date }}{% endif %}{% if categories %}{% for category in categories %}&category={{ category }}{% endfor %}{% endif %}{% if presses %}{% for press in presses %}&press={{ press }}{% endfor %}{% endif %}{% if kw %}&kw={{ kw }}{% endif %}{% if order_by %}&order_by={{ order_by }}{% endif %}">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>



<form id="searchForm" method="get" action="{% url 'news_guru:index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>

<script type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        const page = this.dataset.page;
        // URL 업데이트
        const currentURL = window.location.href;
        const updatedURL = updateQueryStringParameter(currentURL, 'page', page);
        // 페이지 이동
        window.location.href = updatedURL;
    });
});
</script>

<script type='text/javascript'>
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    const kw = document.getElementById('search_kw').value;
    // URL 업데이트
    const currentURL = window.location.href;
    const updatedURL = updateQueryStringParameter(currentURL, 'kw', kw);
    // 페이지 이동
    window.location.href = updatedURL;
});
</script>

<script type='text/javascript'>
// URL의 쿼리 문자열 업데이트를 도와주는 함수
function updateQueryStringParameter(uri, key, value) {
    const re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
    const separator = uri.indexOf('?') !== -1 ? "&" : "?";
    if (uri.match(re)) {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
    } else {
        return uri + separator + key + "=" + value;
    }
}
</script>

<script type='text/javascript'>
document.querySelectorAll('input[name="category"], input[name="press"]').forEach(item => {
    item.addEventListener('change', function() {
        let selectedCategories = [];
        document.querySelectorAll('input[name="category"]:checked').forEach(checked => {
            selectedCategories.push(checked.value);
        });
        document.getElementById('categories').value = selectedCategories.join(',');

        let selectedPresses = [];
        document.querySelectorAll('input[name="press"]:checked').forEach(checked => {
            selectedPresses.push(checked.value);
        });
        document.getElementById('presses').value = selectedPresses.join(',');
    });
});
</script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var toggleButton = document.getElementById('toggleOrder');
        // 페이지 로드 시 URL에서 order_by 값을 확인
        const searchParams = new URLSearchParams(window.location.search);
        const order_by = searchParams.get('order_by') || 'latest'; // 기본값은 'latest'
    
        // 초기 버튼 상태 설정
        updateButtonState(toggleButton, order_by);
    
        toggleButton.addEventListener('click', function() {
            const currentOrder = this.getAttribute('data-order');
            const newOrder = currentOrder === 'oldest' ? 'latest' : 'oldest';
            
            // URL 업데이트
            const url = new URL(window.location);
            url.searchParams.set('order_by', newOrder);
            window.location.href = url.toString();
        });
    });
    
    function updateButtonState(button, order) {
        if (order === 'latest') {
            button.textContent = '최신순 ↓';
            button.setAttribute('data-order', 'latest');
        } else {
            button.textContent = '오래된 순 ↓';
            button.setAttribute('data-order', 'oldest');
        }
    }
    
</script>

{% endblock %}