{% extends 'base.html' %}
{% load static %}
{% load news_guru_filter %}
{% block content %}
<title>AI Newscape : Survey</title>
<div class="container mt-5 mb-5">
    <h1 class="mb-3">AI Newscape 뉴스 지식 어시스턴트 서비스 만족도 조사</h1>
    <h5 class="mb-4">서비스를 개선하기 위해 항상 노력하고 있습니다. 잠시 시간을 내어 여러분의 경험을 공유해주시면 감사하겠습니다.</h5>
    <form action="{% url 'news_guru:submit_survey' %}" method="post">
        {% csrf_token %}
        <div class="form-group mb-4">
            <label for="phoneNum" class="mb-2">귀하의 전화번호를 입력해주세요.</label>
            <textarea class="form-control" id="phoneNum" name="phoneNum" rows="1"></textarea>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="newscapesLevel" class="mb-2">1. AI Newscapes 서비스의 3가지 기능을 통해 뉴스를 이해하는 데 도움이 되었나요?</label>
                    <select class="form-control" id="newscapesLevel" name="newscapesLevel">
                        <option>매우 그렇다</option>
                        <option>그렇다</option>
                        <option>보통이다</option>
                        <option>그렇지 않다</option>
                        <option>매우 그렇지 않다</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="naverLevel" class="mb-2">2. 네이버 뉴스의 본문 요약봇, 텍스트 음성 변환 기능을 통해 뉴스를 이해하는 데 도움이 되었나요?</label>
                    <select class="form-control" id="naverLevel" name="naverLevel">
                        <option>매우 그렇다</option>
                        <option>그렇다</option>
                        <option>보통이다</option>
                        <option>그렇지 않다</option>
                        <option>매우 그렇지 않다</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group mb-4">
            <label for="feedback" class="mb-2">3. AI Newscape 뉴스 지식 어시스턴트 서비스를 개선하기 위한 제안이 있다면 공유해주세요.</label>
            <textarea class="form-control" id="feedback" name="feedback" rows="4"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">제출하기</button>
        </div>
    </form>
</div>

{% if messages %}
<div class="alert alert-primary mt-4" role="alert">
    {% for message in messages %}
    <div>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
